Importamos las librerías Pandas y Numpy

In [12]:
import pandas as pd
import numpy as np

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [13]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

data = pd.read_csv(url, sep="\t")

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [14]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [15]:
data.dropna().describe(include="all")

          order_id     quantity     item_name choice_description item_price
count   3376.00000  3376.000000          3376               3376       3376
unique         NaN          NaN            38               1043         47
top            NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq           NaN          NaN           726                134        730
mean     920.33205     1.063389           NaN                NaN        NaN
std      528.96664     0.283070           NaN                NaN        NaN
min        1.00000     1.000000           NaN                NaN        NaN
25%      466.75000     1.000000           NaN                NaN        NaN
50%      922.00000     1.000000           NaN                NaN        NaN
75%     1382.25000     1.000000           NaN                NaN        NaN
max     1834.00000     4.000000           NaN                NaN        NaN

### Step 4. ¿Qué productos cuestan más de $10?

In [16]:
data["item_price"] = data["item_price"].str.replace("$","").astype(float)

In [17]:
data.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [18]:
condicion = (data["item_price"] > 10)
data[condicion]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [19]:
data["precio_unidad"] = data["item_price"] / data["quantity"]
condicion = (data["precio_unidad"] > 10)
data[condicion]

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

In [20]:
precio_maximo = data["precio_unidad"].max()
data[data["precio_unidad"] == precio_maximo]

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89,11.89
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,11.89
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89,11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1311,534,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
1326,541,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.89,11.89
1571,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89,11.89
1590,644,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
1816,734,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89,11.89
2439,969,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
2442,970,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.89,11.89
2610,1035,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
2740,1088,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.89,11.89
2804,1114,1,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.89,11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89,11.89
3120,1244,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89,11.89
3350,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89,11.89
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
3546,1426,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",11.89,11.89
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
4239,1692,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.89,11.89
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89

In [21]:
condicion = (data["precio_unidad"] > 10)
data[condicion]["order_id"].nunique()

787

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

In [22]:
data[data["item_price"] > 10]["order_id"].nunique()

863

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

In [23]:
productos_distintos = data["item_name"].unique()
for producto in productos_distintos:
    tantos = data[(data["item_name"] == producto) & (data["precio_unidad"] > 10)]["order_id"].nunique()
    if tantos != 0:
        print(f"{producto} se ha pagado a más de $10 en {tantos} pedidos")

Chicken Bowl se ha pagado a más de $10 en 252 pedidos
Steak Burrito se ha pagado a más de $10 en 117 pedidos
Steak Soft Tacos se ha pagado a más de $10 en 9 pedidos
Chicken Crispy Tacos se ha pagado a más de $10 en 15 pedidos
Chicken Soft Tacos se ha pagado a más de $10 en 25 pedidos
Chicken Burrito se ha pagado a más de $10 en 172 pedidos
Barbacoa Burrito se ha pagado a más de $10 en 24 pedidos
Carnitas Burrito se ha pagado a más de $10 en 18 pedidos
Carnitas Bowl se ha pagado a más de $10 en 31 pedidos
Barbacoa Bowl se ha pagado a más de $10 en 25 pedidos
Chicken Salad Bowl se ha pagado a más de $10 en 50 pedidos
Steak Bowl se ha pagado a más de $10 en 84 pedidos
Barbacoa Soft Tacos se ha pagado a más de $10 en 8 pedidos
Veggie Burrito se ha pagado a más de $10 en 37 pedidos
Veggie Bowl se ha pagado a más de $10 en 43 pedidos
Steak Crispy Tacos se ha pagado a más de $10 en 11 pedidos
Barbacoa Crispy Tacos se ha pagado a más de $10 en 4 pedidos
Veggie Salad Bowl se ha pagado a más de $10 en 10 pedidos
Carnitas Soft Tacos se ha pagado a más de $10 en 3 pedidos
Chicken Salad se ha pagado a más de $10 en 2 pedidos
Steak Salad Bowl se ha pagado a más de $10 en 19 pedidos
Carnitas Crispy Tacos se ha pagado a más de $10 en 2 pedidos
Veggie Soft Tacos se ha pagado a más de $10 en 2 pedidos
Carnitas Salad Bowl se ha pagado a más de $10 en 4 pedidos
Barbacoa Salad Bowl se ha pagado a más de $10 en 5 pedidos

In [24]:
data_agregada = data.groupby("item_name").aggregate({"item_price": 'mean', 'precio_unidad': 'mean', 'quantity' : 'max', 'order_id': 'count'})

In [25]:
data_agregada[data_agregada["precio_unidad"] > 10]

                       item_price  precio_unidad  quantity  order_id
item_name
Barbacoa Bowl           10.187273      10.187273         1        66
Barbacoa Crispy Tacos   10.928182      10.087273         2        11
Barbacoa Salad Bowl     10.640000      10.640000         1        10
Barbacoa Soft Tacos     10.018400      10.018400         1        25
Carnitas Bowl           10.833971      10.315588         3        68
Carnitas Salad Bowl     11.056667      11.056667         1         6
Steak Bowl              10.711801      10.232559         3       211
Steak Salad Bowl        11.847931      11.027931         2        29
Veggie Bowl             10.211647      10.011882         2        85
Veggie Salad Bowl       10.138889      10.138889         1        18

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

In [31]:
data_agregada.groupby(["item_name", "order_id"])[["item_price", "precio_unidad"]].mean()

                                                item_price  precio_unidad
item_name                             order_id
6 Pack Soft Drink                     54          6.610185       6.490000
Barbacoa Bowl                         66         10.187273      10.187273
Barbacoa Burrito                      91          9.832418       9.832418
Barbacoa Crispy Tacos                 11         10.928182      10.087273
Barbacoa Salad Bowl                   10         10.640000      10.640000
Barbacoa Soft Tacos                   25         10.018400      10.018400
Bottled Water                         162         1.867654       1.431667
Bowl                                  2          14.800000       7.400000
Burrito                               6           7.400000       7.400000
Canned Soda                           104         1.320577       1.090000
Canned Soft Drink                     301         1.457641       1.250000
Carnitas Bowl                         68         10.833971      10.315588
Carnitas Burrito                      59         10.132712       9.975932
Carnitas Crispy Tacos                 7          11.137143       9.852857
Carnitas Salad                        1           8.990000       8.990000
Carnitas Salad Bowl                   6          11.056667      11.056667
Carnitas Soft Tacos                   40          9.398500       9.398500
Chicken Bowl                          726        10.113953       9.657727
Chicken Burrito                       553        10.082857       9.475949
Chicken Crispy Tacos                  47         10.045319       9.492340
Chicken Salad                         9           9.010000       9.010000
Chicken Salad Bowl                    110        11.170455       9.909091
Chicken Soft Tacos                    115         9.635565       9.240261
Chips                                 211         2.342844       2.149242
Chips and Fresh Tomato Salsa          110         3.285091       2.748727
Chips and Guacamole                   479         4.595073       4.345616
Chips and Mild Fresh Tomato Salsa     1           3.000000       3.000000
Chips and Roasted Chili Corn Salsa    22          3.084091       2.950000
Chips and Roasted Chili-Corn Salsa    18          2.390000       2.390000
Chips and Tomatillo Green Chili Salsa 43          3.087209       2.950000
Chips and Tomatillo Red Chili Salsa   48          3.072917       2.950000
Chips and Tomatillo-Green Chili Salsa 31          2.544194       2.390000
Chips and Tomatillo-Red Chili Salsa   20          2.987500       2.390000
Crispy Tacos                          2           7.400000       7.400000
Izze                                  20          3.390000       3.390000
Nantucket Nectar                      27          3.641111       3.390000
Salad                                 2           7.400000       7.400000
Side of Chips                         101         1.840594       1.690000
Steak Bowl                            211        10.711801      10.232559
Steak Burrito                         368        10.465842       9.993424
Steak Crispy Tacos                    35         10.209714       9.952857
Steak Salad                           4           8.915000       8.915000
Steak Salad Bowl                      29         11.847931      11.027931
Steak Soft Tacos                      55          9.746364       9.578182
Veggie Bowl                           85         10.211647      10.011882
Veggie Burrito                        95          9.839684       9.602842
Veggie Crispy Tacos                   1           8.490000       8.490000
Veggie Salad                          6           8.490000       8.490000
Veggie Salad Bowl                     18         10.138889      10.138889
Veggie Soft Tacos                     7          10.565714       9.352857

In [40]:
data.pivot_table("item_price", index="item_name", columns="order_id").fillna(0).std("columns")

item_name
6 Pack Soft Drink                        1.127781
Barbacoa Bowl                            1.838386
Barbacoa Burrito                         2.121239
Barbacoa Crispy Tacos                    0.869009
Barbacoa Salad Bowl                      0.758447
Barbacoa Soft Tacos                      1.169979
Bottled Water                            0.667502
Bowl                                     0.546337
Burrito                                  0.345308
Canned Soda                              0.313082
Canned Soft Drink                        0.570247
Carnitas Bowl                            2.145310
Carnitas Burrito                         1.792024
Carnitas Crispy Tacos                    0.711858
Carnitas Salad                           0.209923
Carnitas Salad Bowl                      0.635138
Carnitas Soft Tacos                      1.343948
Chicken Bowl                             5.026597
Chicken Burrito                          4.716047
Chicken Crispy Tacos                     1.604046
Chicken Salad                            0.634132
Chicken Salad Bowl                       2.728452
Chicken Soft Tacos                       2.328714
Chips                                    0.775988
Chips and Fresh Tomato Salsa             1.263501
Chips and Guacamole                      2.104967
Chips and Mild Fresh Tomato Salsa        0.070052
Chips and Roasted Chili Corn Salsa       0.342524
Chips and Roasted Chili-Corn Salsa       0.235674
Chips and Tomatillo Green Chili Salsa    0.476859
Chips and Tomatillo Red Chili Salsa      0.490831
Chips and Tomatillo-Green Chili Salsa    0.336825
Chips and Tomatillo-Red Chili Salsa      0.342694
Crispy Tacos                             0.172795
Izze                                     0.324953
Nantucket Nectar                         0.432515
Salad                                    0.172795
Side of Chips                            0.507664
Steak Bowl                               3.349217
Steak Burrito                            4.231295
Steak Crispy Tacos                       1.419276
Steak Salad                              0.416047
Steak Salad Bowl                         1.520768
Steak Soft Tacos                         1.665729
Veggie Bowl                              2.138562
Veggie Burrito                           2.229736
Veggie Crispy Tacos                      0.198248
Veggie Salad                             0.484943
Veggie Salad Bowl                        1.007328
Veggie Soft Tacos                        0.675237
dtype: float64

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

In [45]:
data.sort_values("item_name", ascending=True)

,order_id,quantity,item_name,choice_description,item_price,precio_unidad
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

In [48]:
data["precio_unidad"].max()

11.89

In [50]:
data.loc[data["precio_unidad"].idxmax(),"item_name"]

'Steak Salad Bowl'

In [53]:
data[data["item_name"] == 'Steak Salad Bowl']['order_id'].count()

29

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.

In [54]:
data[data["item_name"] == 'Veggie Salad Bowl']['order_id'].count()

18